*{
  margin: 0;
}

.App{
  display: flex;
  height: 100vh;
}

.signup__left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.signin_linkBox{
  display: flex;
  padding: 20px 0px;
}
.signin_linkBox h3{
  font-size: medium;
  font-weight: 400;
  margin-right: 10px;
}
a{
  text-decoration: none;
  color: #2e81f4;
  font-size: medium;
  font-weight: 600;
}
.signup__form{
  display: flex;
  flex-direction: column;
}
.form_field{
 
  margin: 10px 0px !important;
}
.form_field_p{
  width: 30vw;
  font-size: small;
  margin-top: 30px;
  color: gray;
}
.form_field_a{
  font-size: small;
}
.form_fieldButton{
  outline: none;
  border: none;
  color: gray;
  background-color: lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
}

.ready_button{
  background-color: #2e81f4;
  color: white;
}

.MuiInputBase-input{
  height: 0.6em;
}


.signup__right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0.55;
  background-color: #2e81f4;
}

.signup__right h1{
  color: white;
  /* margin-bottom: 30px; */
  font-size: 30px;
}
.signup__right p{
  color: white;
  margin: 50px 70px;
  text-align: justify;
}